img {
    width: 30%;
    margin: calc(10%/6);
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

nav {
    text-transform: uppercase;
    border-bottom: 2px solid rgb(184, 180, 180);
    width: 30%;
    margin-left:calc(10%/6);
    padding: 1.2em 0;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
}